/* Colores en variables */
:root {
  --color-primary: #4b69fd;
  --color-secondary: #fff9eb;
  --color-tertiary: #c4c4c4;
  --color-button: #fe652b;
  --color-button-hover: #e55720;
  --color-text: #444444;
  --color-white: #ffffff;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}



/* Banner */
.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primary);
  width: 100%;
  padding: 20px 0;
}

/* Sección de entrada */
.input-section {
  flex: 1;
  background-color: var(--color-secondary);
  border: 1px solid #000;
  border-radius: 64px 64px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 30rem;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

/* Títulos */
.main-title {
  font-size: 48px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
}

.section-title {
  font-family: "Inter", serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0;
  text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.input-name {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}

.button-container {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Estilos de entrada de texto */
.input-title {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #333;
  border-right: none;
  border-radius: 25px 0 0 25px;
  font-family: "Merriweather", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
  padding: 15px 30px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-add {
  background-color: var(--color-tertiary);
  color: var(--color-text);
  border-radius: 0 25px 25px 0;
}

.button-add:hover {
  color: var(--color-white);
}

/* Listas */
ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 20px 0;
  width: 25rem;
  gap: 0.5rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  border-radius: 5rem;
  background-color: burlywood;
  padding: 10px;
  width: 400px;
  gap: 10px;
}

li span {
  margin-left: 1rem;
}


.result-list {
  margin-top: 15px;
  color: #f13312;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Botón de sortear título */
.button-draw {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  color: var(--color-white);
  background-color: var(--color-button);
  font-size: 16px;
}

.button-draw img {
  margin-right: 40px;
}

.button-draw:hover {
  background-color: var(--color-button-hover);
}

.entrada-valida {
  box-shadow: 1px 1px 5px #FE652B;
              1px 1px 5px  #FE652B inset;
  border-color: #FE652B;
}


.main-content {
  width: 100%;
  max-width: 100%; /* Ajusta este valor según tus necesidades */
  display: flex;
  flex-direction: column;
  align-items: center;
}


